/* 

    colors: 
    rust #c29880
    dark-rust: #a2745c
    green: #c29880

    og rust = #c29880;


*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

[class*=grid] {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* End temporary styles */

.tall-50 {
    min-height: 50vh;
}

.tall-60 {
    min-height: 60vh;
}

.tall-70 {
    min-height: 70vh;
}

.tall-80 {
    min-height: 80vh;
}

.tall-90 {
    min-height: 90vh;
}


.padded {
    padding: 5%;
}

.padded-1 {
    padding: 1rem;
}

.padded-2 {
    padding: 2rem;
}


.padded-t {
    padding-top: 5%;
}

.padded-b {
    padding-bottom: 5%;
}

.padded-l {
    padding-left: 5%;
}

.padded-r {
    padding-right: 5%;
}

.padded-0 {
    padding: 0;
}

.padded-b-0 {
    padding-bottom: 0;
}

.margin-b-0 {
    margin-bottom: 0;
}

.margin-b-1 {
    margin-bottom: 1rem;
}

.margin-b-2 {
    margin-bottom: 2rem;
}

.bg-rust {
    background-color: #d3b4a2;
}

.bg-green {
    background-color: #9b9b81;
}

.bg-dark {
    background-color: #a2745c;
}

.light-text {
    color: white;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


.capped-width {
    max-width: 1000px;
    margin: auto;
}

.capped-width-narrow {
    max-width: 900px;
    margin: auto;
}

.flex-flip-alternate:nth-child(even) {
    flex-direction: row-reverse;
}



/* Typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: rgb(60, 60, 60);
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    letter-spacing: -0.01em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
    padding: 0.25rem;
}

a:hover {
    color: #a2745c;
}

.button {
    text-decoration: none;
    border: 2px solid;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 400;
    color: white;
}

.bg-dark .button:hover {
    color: #d3b4a2;
}

.subtle {
    opacity: 0.8;
    font-size: 0.9rem;
}


.emphasis {
    font-size: 1.1rem;
    font-weight: 400;
}








/* Header & Footer  */

header {
    padding: 2% 5%;
}

footer a:hover {
    color: #d3b4a2;
}

/* Icon Grid Section  */
.icon-section img {
    max-width: 3rem;
    opacity: 0.8;
    margin: 1rem 0;
}

a { text-decoration: none;}

/* Background Images */

.bg-image {
    background-color: rgb(240, 240, 240);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/plant.jpg');
}

.profile-image {
    border-radius: 100%;
}

.landscape {
  padding-bottom: 60%;
}

.bg-plant {
    background-image: url('/images/plant.jpg');
    background-position: 50% 43%;
}

.bg-plant-2 {
    background-image: url('/images/plant-2.jpg');
    background-position: 75% 50%;
}

.bg-meeting {
    background-image: url('/images/meeting.jpg');
}

.bg-mockup {
    background-image: url('/images/mockup.jpg');
}

.right-arrow {
    max-width: 2rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
}


/* Responsive Video    (shift, option, f > beautify selection) */ 
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 


.show-xs, 
.show-sm,
.show-md {
	display: none;
}


/* Default Responsive Styles (Desktop and below) */

.mob-show {
  display: none;
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
  .show-xs { display: block; }
  .hide-xs { display: none;  }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
@media(max-width:48em) {
  .mob-hide { display: none; }
  .mob-show { display: block; }
  .sm-text-center { text-align: center; }
}
/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

    .hide-sm {
        display: none;
    }

    .center-sm {
        text-align: center;
    }

    .flex-flip-sm {
        flex-direction: column-reverse;
    }

    .bg-plant {
        background-image: url('/images/plant-light.png');
    }

    .bg-plant-2 {
        background-image: url('/images/plant-2-light.png');
        background-position: 45% 50%;
    }

}



/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
}



/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  .padded-r-5 { padding-right: 5rem; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }









/* Contact Form */
form input,
form textarea {
 	width: 100%;
 	margin: 0.5rem 0;
	padding: 0.5rem;
 	border: 2px solid #a2745c;
 	outline: none;
 	font-family: inherit;
 	font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
 	border-color: #9b9b81;
}

textarea {
 	min-height: 4rem;
}

form label {
	margin-top: 1rem;
 	display: block;
 	color: #a2745c;
 	font-weight: bold;
}

form .button {
   	border: 2px solid #a2745c;
   	background: none;
   	color: #a2745c;
   	font-weight: bold;
   	padding: 0.5rem 2rem;
   	margin-top: 1rem;
}