<header class="grid">
    
    <div class="col-6_sm-12-middle padded-0 center-sm editable">
            <h1 class="font-weight-extra-bold featured-text editable" data-aos="fade-down"  data-aos-duration="1000">
                Portfolio Website </h1> 
        
    </div>  
   
</header> 
   

   <nav class="col-6_sm-12-middle right padded-0 center-sm"> 
        <a href="/about"> About </a>
        <a href="/services"> Services </a>
        <a href="/portfolio"> Portfolio </a>
        <a href="/contact"> Contact </a>
    </nav>
