<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->


    <div class="padded-t-1 padded-b-1 center margin-b-2">
        
        <h2 class="col-5 margin-t-1"> {{ project.title }} </h2>
        <p> {{ project.description }} </p>
        <a href="{{ project.live_url }}" class="subtle">  <p> live site  &#8594;</p> </a>
    </div> 

    <div class="col-7_sm-12 margin-b-4"> 
        <div class="bg-image square" style="background-image: url('{{project.featured_image}}')"> </div>
    </div>




<!-- if I want the categories to link to their archive page > Replace the span with a link like this. 

{% for item in post.categories %}
    <span class="tag"> {{item}} </span>
{% endfor %}


-->