<footer class="grid bg-dark light-text padded padded-b-0" id="contact">
    <div class="col-6_sm-12 padded center-sm">
        <h2 class="logo"> Niu Studio Code </h2>
        <h3> Web Design & Development </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita eos cumque laboriosam nisi molestiae quae libero similique. </p>
    </div> 
    <div class="col-6_sm-12-bottom padded right center-sm">
        <h3> Let's Connect. </h3>
        <nav> 
            <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
        </nav>
    </div>
    <div class="col-12 center padded-t">
        <p class="subtle"> Copyright 2021</p>
    </div>

</footer>